<div class="container">
  <div class="well">
    <h3><a href="../casual-encounters">🔙 Back to Missed Connections</a></h3>
    <h4>Beautiful girl behind me at Head Museum - m4w (New New York)</h4>
    <img src="https://theinfosphere.org/images/thumb/0/05/Hall_of_Presidents.jpg/225px-Hall_of_Presidents.jpg">
    <p>You got behind me in line with a cart and I was only buying 2 onions. You had stunning eyes! I couldn't build up the courage to say anything to you so I guess this is the result. Would love to take you to dinner or just for a drink sometime.</p>
  </div>
</div>
