<div class="container">
  <div class="well">
    <h3><a href="../casual-encounters">🔙 Back to Missed Connections</a></h3>
    <h4>Mutual smile in Transylvania! - x4x (Transylvania)</h4>
    <img src="https://media.giphy.com/media/iQ44hm6doqZLq/giphy.gif">
    <p>I was just parking my car and noticed you (and vice versa) as I was getting out to cross the street.

    Once I got out and started walking across the street to get food at Harlow I couldn't help by smile at you, which as reciprocated.

    We both have dark hair (I think) and you drove a dark grey (could be black) car.

    You drove off and I felt good about the world for a few min.

    Thanks Stranger.</p>
  </div>
</div>
