h1 {
  color: #859254;
  font-size: 5em;
  text-align: center;
}

nav, .nav, .navbar, .navbar-default, .navbar-header, .navbar-brand, .navbar-right, .navbar-nav, nav ul, navbar li, navbar li a, .container-fluid {
  background: whitesmoke;
  z-index: 1000;
}

img {
  height: 300px;
  display: block;
  margin: 0 auto;
}

.container {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #859254;
  width: 900px;
}

* {
  background-color: #2e2d31;
}

 h1 {
   background-color: whitesmoke;
 }
