<div class="container">
  <div class="well">
    <h3><a href="../pets">🔙 Back to Pets</a></h3>
    <h4>Precious cross-eyed dumb angel baby child looking for forever home(Risa)</h4>
    <img src="../assets/dumbchild.jpg" alt="">
    <p>A few months back, found this cat. She came up to me , so I picked her up. She was so very thin, all I could feel was fur and bones. We looked but never found her owners. We fed her , got her shots and had her fixed. She now needs a home to call her own. She's very loving, potty trained, and gets along ( in time) with other cats and has been around my small dogs a bit.</p>
  </div>
</div>
