<div class="container">
  <div class="well">
    <h3><a href="../pets">🔙 Back to Pets</a></h3>
    <h4>Adorable, sweet chihuahua male needs loving home</h4>
    <a href="../assets/muchacho1.jpg"><img src="../assets/muchacho1.jpg" alt=""></a>
    <a href="../assets/muchacho2.jpg"><img src="../assets/muchacho2.jpg" alt=""></a>
    <a href="../assets/muchacho3.jpg"><img src="../assets/muchacho3.jpg" alt=""></a>
    <a href="../assets/muchacho4.jpg"><img src="../assets/muchacho4.jpg" alt=""></a>
    <a href="../assets/muchacho5.jpg"><img src="../assets/muchacho5.jpg" alt=""></a>
    <a href="../assets/muchacho6.jpg"><img src="../assets/muchacho6.jpg" alt=""></a>
    <a href="../assets/muchacho7.jpg"><img src="../assets/muchacho7.jpg" alt=""></a>
    <a href="../assets/muchacho8.jpg"><img src="../assets/muchacho8.jpg" alt=""></a>
    <a href="../assets/muchacho9.jpg"><img src="../assets/muchacho9.jpg" alt=""></a>
    <p>Andre (AKA "Little Muchacho" as he is more well known) is a 7 year old neutered male Chihuahua that needs a gentle, STABLE, loving home. We are seeking a home in which one or more of the family members is present a majority of the time. He loves going with us anywhere we go (he LOVES to ride in the car) but is also happy just resting on a warm lap. He isn't a high energy dog and doesn't require much space so an apartment or condo would be just fine. A retired person/couple or someone who works from home would be ideal, but a quiet home with older children and a stay-at-home parent would also work well. This little guy is devoted to his humans and prefers to be on a lap, carried around or near you as much as possible. He has never met a human that he didn't love and is sweet and kind to all that he meets. </p>

    <p>He is potty trained and crate trained, but cannot hold his urine for more than about 8 hours at a time (tiny bladder) so leaving him home alone for long periods just doesn't work well. He doesn't know many formal commands, but is very well behaved and comes when called. He does not run off when we are outside with him.</p>

    <p>About 4 years ago Andre had to have a $3000 surgery on both knees for frequent dislocations and is perfectly fine now. He has lost many teeth and the vet thinks he will lose the rest eventually because of a defect in the bone density of his jaw, so his tongue hangs out most of the time. We think it's cute and the vet assures me that it will not require any medical follow up. He is current on all vaccinations except rabies, which we stopped doing since he couldn't really bite someone if he wanted to! He subsequently eats only high quality wet food. (He's been given too many human food bites though and could stand to lose a pound or so.) He weighs just over 7 pounds right now. Otherwise he is very healthy.</p>

    <p>Andre has been raised with three cats and a larger dog, in addition to chickens and goats. He gets along well with them all, but is intimidated by unfamiliar larger dogs, as he tends to get stepped on and injured. He would probably love another little dog buddy but would need a slow introduction as leaving his current home is going to be overwhelming for him as it is. He would also be perfectly fine as on only, but spoiled, pet.</p>

    <p>The only reason we are seeking another home for this darling little guy is that my kids are grown now (19 and 21) and are very busy. I work 12 hour shifts as an RN and the poor little guy is alone quite often. Andre is never destructive when he's left alone, but he sure does get depressed. He also gathers our clothes and shoes to sleep with when we are gone (It's so sad!).</p>

    <p>It will break our hearts to let him go, and we are not in a hurry to have him leave us, so we're going to be picky about his new home and humans. Again, we're seeking only a quiet, very stable, calm and long-term home with someone who can afford to take excellent care of him and is willing to let him sleep under the covers with them at night, lay on their lap and generally be with him as often as possible.</p>

    <p>We will ask to meet you, visit your home and see you interact with Andre before deciding if you are the right fit. We can't let him go with just anyone! He comes with a harness, leash, crate and small exercise area/playpen. I'm very willing to eliminate any re-homing fee for the perfect person. We would also love to get periodic updates and pictures of him in the future and would be more than willing to take him back should he not be a perfect fit for you.</p>

    <p>I work night shift in a local hospital, so I would prefer that you introduce yourself and ask questions via e-mail or text initially in case I'm sleeping. Thank you so much!</p>

    <p>Rebecca</p>

    <h5>ATTENTION: you can actually adopt this tiny little angel child: <a href="https://portland.craigslist.org/clk/pet/6212578962.html">here!</a></h5>
  </div>
</div>
